[submodule "tkWindget"]
	path = tkWindget
	url = /home/tze/Documents/Programming/python/common/tkWindget/
[submodule "RW_data"]
	path = RW_data
	url = /home/tze/Documents/Programming/python/common/RW_data/
